<nav class="grey darken-3">
    <div class="nav-wrapper topcontainer">
        <a class="brand-logo left">LOOKal</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/">Beranda</a></li>
            <li><a href="/lacakTiket">Lacak Tiket</a></li>
            <li><a href="/sekitarKita">Sekitar Kita</a></li>
            <li><a href="/profil">Profil</a></li>
      </ul>
    </div>
</nav>