<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Konfirmasi Order</title>
</head>

<body>
    <h5>Terima kasih, <%=newOrder.consumerName%>, pesanan Anda sudah kami terima dengan baik. Silakan lakukan pembayaran sebanyak <%=newOrder.totalPrice%> ke rekening <%=newOrder.paymentMethod>.</h5>
    <h5>Nomor tiket Anda adalah <%=newOrder._id%></h5>
</body>
