<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="LOOKal\public\css\index.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Layanan Anda</title>
</head>

<body>
    <div class="container">
        <h1 style="font-size:60px; margin-top:20px; margin-bottom:50px" }>Layanan Anda</h1>

        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>ID Layanan</th>
                        <th>Nama Layanan/Wisata</th>
                        <th>Lokasi</th>
                        <th>Harga Tiket</th>
                        <th>Deskripsi</th>
                    </tr>
                </thead>
                <tbody>
                    <% tourServices.forEach(function(tourService){ %>
                        <tr>
                            <td>
                                <%= tourService._id %>
                            </td>
                            <td>
                                <%= tourService.name %>
                            </td>
                            <td>
                                <%= tourService.location %>
                            </td>
                            <td>
                                <%= tourService.ticketPrice %>
                            </td>
                            <td>
                                <%= tourService.description.substring(0, 115).concat("...") %>
                            </td>
                        </tr>
                        <% }); %>
                </tbody>
            </table>
        </div>
</body>

</html>